version: '3.8'

services:
  # Backend API service
  api:
    build:
      context: .
    command: ["uvicorn", "app.main:app", "--host", "0.0.0.0", "--reload", "--log-level", "debug"]
    volumes:
      - .:/app/
    ports:
      - "8000:8000"
    tty: true
    stdin_open: true

  # Database service
  db:
    image: postgres:15
    container_name: deadlock_postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: